/* tinggal buat style.css nya aja */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.text-blue {
  color: #0088cc;
}
.text-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.text-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg-blue {
  background-color: #0088cc;
  color: #ffffff;
}
.text-large {
  font-size: 1.5rem;
}

.fw-bold {
  font-weight: 600;
}

.text-right {
  text-align: right;
}

.container {
  width: 90dvw;
  min-height: 60dvh; /*lawannya max-height*/
  padding: 30px; /*padding-top, padding-left, padding-right, padding-bottom*/
  margin: 30px 10px;
  border: #3e3e3e40 0.5px solid;
}
.child {
  background-color: aliceblue;
  width: 60%;
  height: 30%;
  margin: 40px; /*margin-top, margin-left, margin-right, margin-bottom*/
}

.card {
  width: 200px;
  height: 100px;
  background: #a5a5a5;
  margin: 20px;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.card-relative {
  position: relative;
}

.badge-promo {
  background: #ff0000;
  color: #ffffff;
  padding: 4px;
  position: absolute;
}

/* navbar */
.navbar {
  width: 60%;
  height: 60px;
  border: #3e3e3e40 0.5px solid;
  margin-top: 20px;
  padding: 30px;
}
.list-item {
  display: inline;
  margin: 20px;
}

.call-me{
    background: linear-gradient(to top right, #0088cc, #962ef8);
    width: 200px;
    padding: 20px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 1000px;
    text-align: center;
}

.sticky{
    position: sticky;
    top: 10px;
    bottom: 5px;
    background: #ffffff;
}

.text-red {
  color: #ff0000;
}


.font-google {
  font-family: "Google Sans", sans-serif;
}
