* {
  padding: 0;
  margin: 0;
  font-family: "Google Sans", sans-serif;
  overflow-x: hidden;
}

/* area header */
.area-header {
  display: flex;
  padding: 8px;
  width: 100dvw;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-item {
  display: inline-block;
  margin: 16px;
  padding: 8px;
}

.nav-item a {
  color: black;
  text-decoration: none;
  transition: 1.3s;

}

.nav-item a:hover{
    border-bottom: 2px #cc0000 solid;
}

.btn-call{
    background-color: #cc0000;
    padding: 8px 21px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
}

.main-content{
    border: 0.5px solid #4e4e4e;
    width: 100dvw;
    min-height: 60dvh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.column{
    width: 100%;
    border: #4e4e4e solid 0.5px;
}

.sidebar{
    width: 100%;
    border: #4e4e4e solid 0.5px;
}

.hero{
  min-height: 60dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col{
  height: 60dvh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.btn-explore{
  background-color: #cc0000;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 24px;
  padding: 8px 24px;
  text-decoration: none;
  box-shadow: 0px 6px 15px -3px #4e4e4e40; /* x y blur spread */
}

.btn-explore:hover{
  background-color: #8d0000;
}


